div{
 
}
#skin1{
  background-color: #ffd4e0;
}
#red{
  background-color: #ff4c55;
}
#orange{
  background-color: #ff9061;
}
#yellow{
  background-color: #fcff61;
}
#green{
  background-color: #61ff86;
}
#blue{
  background-color: #61c5ff;
}

#black{
  background-color: #241d1d;
}

body {
  background-color: #b4ffa8;
}
h1{
  color: #241d1d;
}
#canvasContainer{
}
.palette{
    width: 50px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
}
#selectedColorName{
  width: 25px;
  height: 25px;
  border-style: solid;
  border-width: 1px
}
.canvas{
    width: 25px;
  height: 25px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;

}
.rows {
  margin: 2px 2px 2px 2px;
  padding: 0em;
  width: 30%;
  height: 20%;
}
